h1{
    text-align: center;
    font-size: 2em;
    animation: slideRight .5s linear forwards;
}
p{
    font-size: 1.5em;
    text-align: center;
    background-color: red 50% , green 50%;
    animation: slideLeft .5s linear forwards;
}
#myImage{
    width: 250px;
    height: 350px;
}
body{
    /* font-weight: bold; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: lightblue;
}
button{
    position: relative;
    top: 3em;
    animation: slideRight .5s linear forwards;
    margin: 2em -3em;
    border: 2px solid transparent;
    font-size: 2em;
    padding: .5em 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 2em;
}
button:hover{
    box-shadow: 20px 20px 50px inset grey;
}
#off:hover{
    box-shadow: inset 20px 10px 50px yellow;
}

@media only screen and (max-width: 650px) {
   h1{
    font-size: 1.5em;
   }
   p{
    font-size: 1.2em;
   }
   #myImage{
    width: 150px;
    height: 180px;
   }
   button{
    font-size: 1em;
   }
   body{
    left: 2em;
    position: absolute;
   }
  }
  @media only screen and (max-width: 360px){
    body{
        left: 2.9em;
    }
    button{
        font-size: .5em;
    }
    h1{
        font-size: .7em;
    }
    p{
        font-size: .5em;
    }
    #myImage{
        width: 100px;
        height: 100px;
    }
  } 

@keyframes slideRight {
    0% {
    transform: translateX(-100%);
    opacity: 0;
    }
    to {
        transform: translateX(0px);
      opacity: 1;
    }
  }      

@keyframes slideLeft {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
  }   